@model ArdillaShop.Models.ViewModels.DetailsVM
<style>
    .darklerBackground {
        background: rgba(0, 0, 0, .03);
    }

    .productPrice {
        font-size: 26pt;
    }

    .priceButtonsBox {
        position: sticky;
        top: 10px;
    }
</style>

<div class="">
    <form method="post">
        <input asp-for="@Model.Product.Id" hidden />
        <div class="container border border-info border-3">
            <div class="row darklerBackground">
                <h1 class="pl-3">@Model.Product.Name</h1>
            </div>
            <div class="row">
                <div class="col-7">
                    <div class="row">
                        <img src="@ENV.ImagePath@Model.Product.Image" alt="Product Image" width="80%" class="rounded pl-3" />
                    </div>
                </div>
                <div class="col-4 p-3">
                    <div class="border p-3 priceButtonsBox">
                        <div class="row border-bottom">
                            <p class="font-weight-bolder productPrice text-center ml-2">@Model.Product.Price$</p>
                        </div>
                        <div class="row">
                            @if (Model.InCart)
                            {
                                <a asp-action="RemoveFromCart" asp-route-id="@Model.Product.Id" class="btn btn-warning btn-square form-control btn-lg m-3" style="height:50px;">Remove from Cart</a> }
                            else
                            {
                                <button type="submit" asp-route-id="@Model.Product.Id" class="btn btn-info form-control btn-lg m-3" style="height:50px;">Add to Cart</button>}
                        </div>
                        <div class="row">
                            <a asp-action="Index" class="btn btn-success btn-square form-control btn-lg mx-3" style="height:50px;">Back to List</a>
                        </div>
                    </div>
                    <div class="row">
                        <p class="rounded-pill darklerBackground p-2 border border-5 border-warning mx-auto mt-3">@Model.Product.Category.Name</p>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
            <div class="row">
                <p class="text-secondary px-3">@Html.Raw(Model.Product.Description) </p>
            </div>
        </div>
    </form>

</div>